<div class="formularios my-4">
  <h5> Cadastrar - Agendamento de Ponteciais Clientes </h5>
  <p> Sistema Utilizado para agendamento de serviços. </p>

  <form>
    <div class="form-group">
      <label for="InputNome">Nome:</label>
      <input type="text" class="form-control my-3" id="nome" aria-describedby="nome">
    </div>
    <div class="form-group my-3">
      <label for="InputTelefone">Telefone:</label>
      <input type="text" class="form-control my-3" id="telefone" aria-describedby="telefone">
    </div>
    <div class="form-group my-3">
      <label for="InputOrigem">Origem:</label>
      <select id="origem" class="form-select my-3">
        <option>Celular</option>
        <option>Telefone</option>
        <option>Email</option>
        <option>Outro</option>
      </select>
    </div>
    <div class="form-group my-3">
      <label for="InputTelefone">Data de contato:</label>
      <input type="date" class="form-control my-3" id="telefone" aria-describedby="telefone" placeholder="Enter email">
    </div>
    <div class="form-group my-3">
      <label for="InputObservacao">Observação:</label>
      <textarea type="observacao" class="form-control my-3" id="observacao" aria-describedby="observacao"
        placeholder="Digite uma observação"> </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
</div>