<div class="formularios my-4">
    <h5> Cadastrar - Agendamento de Ponteciais Clientes </h5>
    <p> Sistema Utilizado para agendamento de serviços. </p>


    <table class="table table-light">
        <thead>
            <tr >
                <th scope="col" class="bg-primary text-light">Nome</th>
                <th scope="col" class="bg-primary text-light">Telefone</th>
                <th scope="col" class="bg-primary text-light">Origem</th>
                <th scope="col" class="bg-primary text-light">Data de Contato</th>
                <th scope="col" class="bg-primary text-light">Observação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Mark</td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Mark</td>
            </tr>
            
        </tbody>
    </table>
</div>
</div>